* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #222;
  font-family: Arial, sans-serif;
}

#game {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

#hud {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;

  display: flex;
  justify-content: space-between;

  z-index: 10;
  pointer-events: none;
}

#hud span {
  background: rgba(0,0,0,.78);
  color: white;

  padding: 9px 11px;
  border-radius: 11px;

  font-size: 13px;
  font-weight: bold;
}

#info {
  position: absolute;

  top: 62px;
  left: 50%;
  transform: translateX(-50%);

  width: 90%;

  text-align: center;

  color: white;
  font-weight: bold;

  text-shadow: 0 2px 4px black;

  pointer-events: none;

  z-index: 10;
}

#actionBtn {
  display: none;

  position: absolute;

  left: 50%;
  bottom: 175px;

  transform: translateX(-50%);

  padding: 13px 24px;

  border: none;
  border-radius: 14px;

  background: #ffb300;

  color: #111;

  font-size: 16px;
  font-weight: bold;

  box-shadow: 0 4px 12px #0008;

  z-index: 20;
}

#controls {
  position: absolute;

  left: 18px;
  bottom: 25px;

  width: 160px;
  height: 145px;

  z-index: 20;
}

.control {
  position: absolute;

  width: 52px;
  height: 52px;

  border-radius: 15px;

  border: 2px solid white;

  background: rgba(0,0,0,.72);

  color: white;

  font-size: 25px;
  font-weight: bold;
}

.control:active {
  background: #ff9800;
  color: black;
}

.up {
  left: 54px;
  top: 0;
}

.left {
  left: 0;
  top: 58px;
}

.down {
  left: 54px;
  top: 58px;
}

.right {
  left: 108px;
  top: 58px;
}

#mode {
  position: absolute;

  right: 12px;
  bottom: 28px;

  padding: 9px 12px;

  background: rgba(0,0,0,.75);

  color: white;

  border-radius: 10px;

  font-size: 12px;
  font-weight: bold;

  z-index: 20;
}

@media (min-width: 700px) {

  #controls {
    left: 30px;
    bottom: 30px;
  }

  #actionBtn {
    bottom: 150px;
  }
}
